*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Source Sans Pro */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Spin Cycle */
@font-face {
  font-family: 'Spin Cycle';
  src: url('fonts/spin-cycle-ot/spincycle_ot.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spin Cycle 3D';
  src: url('fonts/spin-cycle-ot/spincycle_3d_ot.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

header{
    background-image: url(Images/Object.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 0 150px 100px 150px;
}
header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}
header nav ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
header nav ul li{
    display: inline;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
header section .get_schooled{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0 150px 0;
}
header section .get_schooled h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 6em;
    letter-spacing: .025em;
}
header section .get_schooled span{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
header section .get_schooled .desc{
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 0;
    margin: 0 0 20px 0;
}
header section .get_schooled button{
    background-color: #C271FF;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 50px;
    box-shadow: -2px 2px black;
}
.learn_from_the_pros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.learn_from_the_pros h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    color: white;
    margin: 0 0 100px 0;
}
.learn_from_the_pros h2 span{
    color: #C271FF;
}
.learn_from_the_pros .pros{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.pros img{
    border-radius: 50%;
    width: 150px;
}
.pros div{
    text-align: center;
}
.pros div h3{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin: 10px 10px;
}
.pros div p{
    margin: -20px 0 0 0;
    color: white;
    font-style: italic;
    opacity: 0.75;
}
main .quote{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #C271FF;
    padding: 100px 150px;
}
.quote_image img{
    width: 200px;
}
.blockquote  blockquote{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 200;
}
.blockquote h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin: 18px 0 10px 0;
}
.blockquote p{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 22px;
    font-style: italic;
}
.video_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px;
}
.video_list h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    margin: 0 0 80px 0;
}
.video_list h2 span{
    font-weight: 600;
    color: #C271FF;
}
.videos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.video{
    width: 250px;
}
.video img{
    width: 250px;
}
.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}
.fa-star{
    font-size: 10px;
}
.videos h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1em;
}
.videos p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    opacity: 0.5;
    line-height: 1.9em;
    margin: 5px 0 0 0;
}
.video_author_name h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: #C271FF;
}
.membership{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 150px;
    background-color: black;
}
.membership h2{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    margin: 0 0 50px 0;
}
.membership span{
    color: #C271FF;
}
.mem_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.mem_content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 0 0 70px 0;
}
.mem_content div h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 1em;
    margin: 10px 0 10px 0;
}
.mem_content div p{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 0.5;
    font-weight: 100;
    font-size: 0.75em;
    margin: 10px 0 0 0;
}
.mem_content div img{
    margin: 0 0 20px 0;
}
.membership button{
    outline: none;
    border: none;
    background-color: #C271FF;
    color: white;
    font-size: 0.7em;
    padding: 15px 20px;
    border-radius: 50px;
}