body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
main article{
    flex: 2;
    overflow-y: auto;
}
main aside{
    flex: 1;
    overflow-y: auto;
}
table, th, td{
    border: 1px solid grey;
    width: 300px;
    text-align: center;
    padding: 2px 0 2px 0;
}
header{
    background-color: rgb(151, 151, 151);
}